.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
__pycache__/
*.pyc
.ipynb_checkpoints/
datasets/real/alibaba_cluster_2018/raw/
datasets/real/alibaba_cluster_2018/raw_archives/
datasets/real/azure_vm_2019/raw/
